main {
  padding: 20px;
  height: 100vh;
}
.dark {
  background-color: darkolivegreen;
  color: beige;

  button {
    border: 1px solid black;
    background-color: beige;
    color: darkolivegreen;
  }
}

.light {
  background-color: beige;
  color: darkolivegreen;

  button {
    border: 1px solid black;
    background-color: darkolivegreen;
    color: beige;
  }
}
